@charset "UTF-8";

@font-face {
  font-family: "codefresh";
  src:url("fonts/codefresh.eot");
  src:url("fonts/codefresh.eot?#iefix") format("embedded-opentype"),
    url("fonts/codefresh.woff") format("woff"),
    url("fonts/codefresh.ttf") format("truetype"),
    url("fonts/codefresh.svg#codefresh") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "codefresh" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "codefresh" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codefresh-account-managment:before {
  content: "\61";
}
.icon-codefresh-activity-log:before {
  content: "\62";
}
.icon-codefresh-add-layer:before {
  content: "\63";
}
.icon-codefresh-code:before {
  content: "\64";
}
.icon-codefresh-composition:before {
  content: "\65";
}
.icon-codefresh-computer:before {
  content: "\66";
}
.icon-codefresh-copy-docker-pull:before {
  content: "\67";
}
.icon-codefresh-created:before {
  content: "\68";
}
.icon-codefresh-date:before {
  content: "\69";
}
.icon-codefresh-docker-logo:before {
  content: "\6a";
}
.icon-codefresh-download:before {
  content: "\6b";
}
.icon-codefresh-edit-pencil:before {
  content: "\6c";
}
.icon-codefresh-environments:before {
  content: "\6d";
}
.icon-codefresh-example:before {
  content: "\6e";
}
.icon-codefresh-failed:before {
  content: "\6f";
}
.icon-codefresh-github:before {
  content: "\70";
}
.icon-codefresh-images:before {
  content: "\71";
}
.icon-codefresh-lenght:before {
  content: "\72";
}
.icon-codefresh-lock-close:before {
  content: "\73";
}
.icon-codefresh-lock-open:before {
  content: "\74";
}
.icon-codefresh-log:before {
  content: "\75";
}
.icon-codefresh-ok:before {
  content: "\76";
}
.icon-codefresh-pause:before {
  content: "\77";
}
.icon-codefresh-projects:before {
  content: "\78";
}
.icon-codefresh-promote:before {
  content: "\79";
}
.icon-codefresh-pull-request:before {
  content: "\7a";
}
.icon-codefresh-queue:before {
  content: "\41";
}
.icon-codefresh-refresh:before {
  content: "\42";
}
.icon-codefresh-run-settings:before {
  content: "\43";
}
.icon-codefresh-running:before {
  content: "\44";
}
.icon-codefresh-search:before {
  content: "\45";
}
.icon-codefresh-service:before {
  content: "\46";
}
.icon-codefresh-settings:before {
  content: "\47";
}
.icon-codefresh-stages:before {
  content: "\48";
}
.icon-codefresh-start:before {
  content: "\49";
}
.icon-codefresh-table:before {
  content: "\4a";
}
.icon-codefresh-terminate:before {
  content: "\4b";
}
.icon-codefresh-test-fail:before {
  content: "\4c";
}
.icon-codefresh-test-ok:before {
  content: "\4d";
}
.icon-codefresh-trash:before {
  content: "\4e";
}
.icon-codefresh-upload-code:before {
  content: "\4f";
}
.icon-codefresh-user:before {
  content: "\50";
}
.icon-codefresh-workflow:before {
  content: "\51";
}
